<script>
import { store } from "../store";
export default {
  data() {
    return {
      order_list: [],
      store,
      role: null,
    };
  },
  mounted() {
    this.axios.get("/order").then((response) => {
      // handle success
      this.order_list = response.data.data;
    });
    this.role = this.store.user_data.role;
  },
};
</script>
<template>
  <div class="admin-container">
    <h2>Daftar order</h2>
    <div class="toolbar-top">
      <form class="search-box">
        <img src="/search.png" alt="" />
        <input type="text" class="search" />
      </form>
      <router-link v-if="role == 'pangkalan'" class="nav-item" to="/order-tambah" tag="button">Order baru</router-link>
    </div>

    <table class="table is-striped">
      <thead>
        <tr>
          <th>Nama Pangkalan</th>
          <th>Jumlah Order</th>
          <th>Total Harga</th>
          <th>Tanggal/Hari</th>
          <th>Status</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="order in order_list">
          <td>{{ order.nama_pangkalan }}</td>
          <td>{{ order.jumlah_order }}</td>
          <td>{{ order.total_harga }}</td>
          <td>{{ order.created_at }}</td>
          <td>{{ order.status }}</td>
          <td>
            <router-link :to="`/order/${order.id}`">Lihat</router-link>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<style></style>
