<script>
export default {
  data() {
    return {
      pangkalan_list: [],
    };
  },
  mounted() {
    this.axios.get("/pangkalan").then((response) => {
      // handle success
      this.pangkalan_list = response.data.data;
      console.log(response);
    });
  },
};
</script>
<template>
  <div class="admin-container">
    <h2>Daftar pangkalan</h2>
    <div class="toolbar-top">
      <form class="search-box">
        <img src="/search.png" alt="" />
        <input type="text" class="search" />
      </form>
    </div>
    <table class="table is-striped">
      <thead>
        <tr>
          <th>Nama</th>
          <th><abbr title="Ouota">Quota</abbr></th>
          <th><abbr title="Alamat">Alamat</abbr></th>
          <th><abbr title="Area">Area</abbr></th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="pangkalan in pangkalan_list" :key="pangkalan.id">
          <td>{{ pangkalan.nama_pangkalan }}</td>
          <td>{{ pangkalan.quota }}</td>
          <td>{{ pangkalan.alamat }}</td>
          <td>{{ pangkalan.nama_area }}</td>
          <td>
            <router-link :to="`/pangkalan/${pangkalan.id}`">Lihat</router-link>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<style>
table.table {
  width: 100%;
}
table.table thead tr > * {
  background-color: #6054e5;
  color: azure;
}
</style>
