<template>
  <div class="navbar">
    <a href="/" class="logo"><img src="/logo.png" alt="logo" /></a>
    <nav class="navigation">
      <router-link class="nav-item" to="/login">Login</router-link>
      <router-link class="nav-item" to="/Signup">Signup</router-link>
    </nav>
  </div>
</template>
