<script>
import { store } from "../store";

export default {
  data() {
    return {
      orderForm: {
        jumlah_order: "0",
        id_kurir: "1",
        status: "pending",
        total_harga: "0",
      },
      store,
    };
  },
  methods: {
    doSave() {
      this.axios.post("/order", this.orderForm).then((response) => {});
    },
  },
  mounted() {
    this.orderForm.id_pangkalan = this.store.user_data.sub;
  },
};
</script>

<template>
  <div class="form-action">
    <p>Order Baru</p>
    <button @click="doSave" class="button">Simpan</button>
  </div>
  <div class="login-wrapper">
    <form action="">
      <div class="input-group">
        <label>Jumlah</label>
        <input type="number" name="jumlah" placeholder="" v-model="orderForm.jumlah_order" />
      </div>
      <div class="input-group">
        <label>Total</label>
        <input type="number" name="total_harga" placeholder="" v-model="orderForm.total_harga" />
      </div>
      <div class="align-center"></div>
    </form>
  </div>
</template>

<style scoped>
.button {
  background-color: #6054e5;
  color: #fff;
}

.login-wrapper {
  background-color: #fff;
  width: 97%;
  margin-right: auto;
  box-shadow: 0 0 10px #ddd;
  margin-bottom: 30px;
}
.login-wrapper form {
  max-width: 500px;
}
.form-action {
  text-align: left;
  display: flex;
  padding: 10px 15px;
}
.form-action button {
  margin-left: auto;
}
</style>
