<script>
import { store } from "../store";
export default {
  data() {
    return {
      order_detail: [],
      statusUpdated: false,
      store,
      role: null,
    };
  },
  methods: {
    updateStatus(status) {
      this.axios.put(`/order/${this.$route.params.id}`, { status }).then((response) => {
        this.statusUpdated = true;
        this.getOrder();
      });
    },
    getOrder() {
      this.axios.get(`/order/${this.$route.params.id}`).then((response) => {
        // handle success
        this.order_detail = response.data.data;
      });
    },
  },
  mounted() {
    this.getOrder();
    this.role = this.store.user_data.role;
  },
};
</script>
<template>
  <div class="form-action is-flex-direction-row">
    <p>Detail Order {{ order_detail.id }}</p>
    <div style="margin-left: auto">
      <button v-if="role == 'admin'" class="button is-primary" @click="updateStatus('diproses')">Ubah status: diproses</button>
      <button v-if="role == 'kurir'" class="button is-primary" @click="updateStatus('dikirim')">Ubah status: dikirim</button>
    </div>
  </div>

  <div class="login-wrapper">
    <div class="notification is-primary" v-if="statusUpdated">
      <button class="delete" @click="statusUpdated = false"></button>
      Status berhasil diubah
    </div>
    <form action="">
      <div class="input-group">
        <label> Jumlah Order</label>
        <input type="text" v-model="order_detail.jumlah_order" readonly name="jumlah_order" placeholder="" />
      </div>
      <div class="input-group">
        <label>Total Harga</label>
        <input type="text" v-model="order_detail.total_harga" readonly name="total_harga" placeholder="" />
      </div>
      <div class="input-group">
        <label>Nama Pangkalan</label>
        <input type="text" readonly v-model="order_detail.nama_pangkalan" name="nama_pangkalan" placeholder="" />
      </div>
      <div class="input-group">
        <label>Nama Kurir</label>
        <input type="text" readonly v-model="order_detail.nama_kurir" name="nama_kurir" placeholder="" />
      </div>
      <div class="input-group">
        <label>Status</label>
        <input type="text" readonly v-model="order_detail.status" name="status" placeholder="" />
      </div>
      <div class="align-center"></div>
    </form>
  </div>
</template>

<style scoped>
.button {
  background-color: #6054e5;
  color: #fff;
}

.login-wrapper {
  background-color: #fff;
  width: 97%;
  margin-right: auto;
  box-shadow: 0 0 10px #ddd;
  margin-bottom: 30px;
}
.login-wrapper form {
  max-width: 500px;
}
.form-action {
  text-align: left;
  display: flex;
  padding: 10px 15px;
}
.form-action button {
  margin-left: auto;
}
</style>
