<script>
export default {
  data() {
    return {
      pangkalan: [],
    };
  },
  mounted() {
    this.axios.get(`http://localhost:3000/pangkalan/${this.$route.params.id}`).then((response) => {
      // handle success
      this.pangkalan = response.data.data;
      console.log(response);
    });
  },
};
</script>
<template>
  <div class="form-action">
    <p>Detail Pangkalan</p>
  </div>
  <div class="login-wrapper">
    <form action="">
      <div class="input-group">
        <label> Nama pangkalan</label>
        <input type="text" readonly v-model="pangkalan.nama_pangkalan" name="nama_pangkalan" placeholder="" />
      </div>
      <div class="input-group">
        <label>Nama Pemilik</label>
        <input type="text" readonly v-model="pangkalan.nama_pemilik" name="nama_pemilik" placeholder="" />
      </div>
      <div class="input-group">
        <label>Email</label>
        <input type="text" readonly v-model="pangkalan.email" name="email" placeholder="" />
      </div>
      <div class="input-group">
        <label>Quota</label>
        <input type="text" readonly v-model="pangkalan.quota" name="quota" placeholder="" />
      </div>
      <div class="input-group">
        <label>Alamat</label>
        <input type="text" readonly v-model="pangkalan.alamat" name="alamat" placeholder="" />
      </div>
      <div class="input-group">
        <label>Area</label>
        <input type="text" readonly v-model="pangkalan.nama_area" name="nama_area" placeholder="" />
      </div>
      <div class="align-center"></div>
    </form>
  </div>
</template>

<style scoped>
.button {
  background-color: #6054e5;
  color: #fff;
}

.login-wrapper {
  background-color: #fff;
  width: 97%;
  margin-right: auto;
  box-shadow: 0 0 10px #ddd;
  margin-bottom: 30px;
}
.login-wrapper form {
  max-width: 500px;
}
.form-action {
  text-align: left;
  display: flex;
  padding: 10px 15px;
}
.form-action button {
  margin-left: auto;
}
</style>
