<script>
export default {
  data() {
    return {
      registerForm: {},
      registerSuccess: false,
      area: [],
    };
  },
  mounted() {
    this.axios.get(`/area`).then((response) => {
      // handle success
      this.area = response.data.data;
      console.log(response);
    });
  },
  methods: {
    doRegister() {
      this.axios.post(`/register`, this.registerForm).then((response) => {
        // handle success
        console.log(response);
        this.registerSuccess = true;
      });
    },
  },
};
</script>
<template>
  <div class="login-bg">
    <img class="login-banner" src="/login-banner.png" alt="" />

    <div class="login-wrapper">
      <div class="notification is-success" v-show="registerSuccess">Pendaftaran berhasil</div>

      <form action="">
        <div class="input-group">
          <label> Nama</label>
          <input type="text" name="nama_pemilik" v-model="registerForm.nama_pemilik" placeholder="" />
        </div>
        <div class="input-group">
          <label>Nama Pangkalan</label>
          <input type="text" name="nama_pangkalan" v-model="registerForm.nama_pangkalan" placeholder="" />
        </div>
        <div class="input-group">
          <label> Area</label>
          <select v-model="registerForm.area_id">
            <option :value="item.id" v-for="item in area" :key="item.id">
              {{ item.nama_area }}
            </option>
          </select>
        </div>
        <div class="input-group">
          <label> Alamat</label>
          <textarea v-model="registerForm.alamat"></textarea>
        </div>

        <div class="input-group">
          <label> Email</label>
          <input type="text" name="email" v-model="registerForm.email" placeholder="" />
        </div>

        <div class="input-group">
          <label> Password</label>
          <input type="password" name="password" v-model="registerForm.password" placeholder="" />
        </div>
        <div class="align-center">
          <button class="button" @click.prevent="doRegister">Daftar</button>
        </div>
      </form>
    </div>
  </div>
</template>

<style></style>
