@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.form-action {
  text-align: right;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
form label {
  display: block;
  font-size: 14px;
  color: #535bf2;
  font-weight: 700;
}
form select,
form textarea,
form input {
  height: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #6054e5;
  width: 100%;
}
.input-group {
  margin-bottom: 15px;
}

form button {
  background-color: #6054e5;
  color: #fff;
  padding: 8px 30px;
  border-radius: 8px;
}

.align-center {
  text-align: center;
}
table.table {
  width: 100%;
}
table.table thead tr > * {
  background-color: #6054e5;
  color: azure;
}

.toolbar-top {
  display: flex;
  margin-bottom: 30px;
}
.toolbar-top button {
  background: #6054e5;
  color: #fff;
}
.search-box {
  margin-right: auto;
  position: relative;
  width: 50%;
}
.search-box input {
  width: 100%;
}

.search-box img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}
.admin-container {
  padding: 0 15px;
}
